---
- name: Configure VLANs on leaf switch ports
  hosts: leafs
  gather_facts: false

  tasks:
    - name: Ensure interfaces are switchports
      cisco.nxos.nxos_config:
          lines:
            - switchport
          parents: "interface {{ item.name }}"
      loop: "{{ host_ports }}"

    - name: Configure leaf switch trunk ports
      cisco.nxos.nxos_l2_interfaces:
        config: "{{ host_ports }}"
        state: merged