---
- name: Configure OSPF process and interfaces
  hosts: data_switches
  gather_facts: false

  vars:
    ospf_process_id: 100
    ospf_area: 0.0.0.0

  tasks:
    - name: Configure OSPF process router_id
      cisco.nxos.nxos_ospfv2:
        config:
          processes:
            - process_id: "{{ ospf_process_id }}"
              router_id: "{{ loopback_ips[0].ipv4.address | ansible.utils.ipaddr('address') }}"
              log_adjacency_changes:
                detail: true
        state: merged

    - name: Configure OSPF on loopbacks
      cisco.nxos.nxos_ospf_interfaces:
        config:
          - name: "{{ item.name }}"
            address_family:
              - afi: ipv4
                processes:
                  - process_id: "{{ ospf_process_id }}"
                    area:
                      area_id: "{{ ospf_area }}"
        state: merged
      loop: "{{ loopbacks }}"
      when: 
        - loopbacks is defined
        - item.name == 'loopback0'
        
    - name: Configure OSPF on port-channel interfaces
      cisco.nxos.nxos_ospf_interfaces:
        config:  
          - name: "{{ item.name }}"
            address_family:
              - afi: ipv4
                processes:
                  - process_id: "{{ ospf_process_id }}"
                    area: 
                      area_id: "{{ ospf_area }}"
        state: merged
      loop: "{{ l3_interfaces }}"
      when: l3_interfaces is defined

    - name: Configure OSPF network type as point-to-point
      cisco.nxos.nxos_config:
        lines:
          - "ip ospf network point-to-point"
        parents: "interface {{ item.name }}"
      loop: "{{ l3_interfaces }}"
      when: l3_interfaces is defined

    - name: Enabled BFD on OSPF interfaces
      cisco.nxos.nxos_config:
        lines:
          - "ip ospf bfd"
        parents: "interface {{ item.name }}"
      loop: "{{ l3_interfaces }}"
      when:
        - l3_interfaces is defined
        - "'bfd' in enabled_features"
      
    - name: Verify OSPF neighbors
      cisco.nxos.nxos_command:
        commands:
          - show ip ospf neighbors
      register: ospf_neighbors
      tags: verify

    - name: Display OSPF neighbors
      ansible.builtin.debug:
        var: ospf_neighbors.stdout_lines
      tags: verify
