- name: Write config to memory
  hosts: all
  gather_facts: false
  
  tasks:
    - name: Save running-config to startup-config
      cisco.nxos.nxos_config:
        save_when: always
      when: inventory_hostname in groups['data_switches']

    - name: Save running-config to startup-config
      cisco.ios.ios_config:
        save_when: always
      when: inventory_hostname in groups['mgmt_switches']
